header h1{
  margin-top: 20px;
  padding: 20px;
/*border-bottom: 1px solid rgba(0, 174, 255, 0.562)*/
border-bottom: 4mm ridge rgba(246, 74, 114, 0.6);

}
header{
  width: 100%;

}


b1{
  color: rgb(73, 44, 236);

  font-family: OCR A Std, monospace;
  font-size: 24px;
      
}

.rounded{
  border: 3px solid #000000;
  border-radius: 10px;

}


b2{
  color: rgb(73, 44, 236);

  font-family: OCR A Std, monospace;
  font-size: 36px;

}


h1 {
  font-family: Arial, Helvetica, sans-serif;
  align-content: center;
  font-weight: 400;

  font-size: 64px;


  text-align: center;
    background-image: 
    linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  
  animation: move 35s linear infinite;
}





p1 {
  font-family: Courier New, Arial, sans-serif;
  font-size: 22px;
  color: rgb(9, 8, 61);
  padding-left: 3px;

  text-align: center;
  position: relative;


}

p2{
  font-family: Courier New, Arial, sans-serif;
  font-size: 22px;
  color: rgb(9, 8, 61); 
  text-align: right;

  padding: 3px;

  position: relative;

}




@keyframes move {
	to {
		background-position: 4500vh;
	}
}



.image {
  width:60px;
  height: auto;
  border-radius: 100px;
  margin: 0 20px 0 0;
} 


.bars{
  float: center;


}


.container{
  background-color: blue;

  width: 33%;

  border-radius: 15px;
  font-size: 45px;
  color: white;
  text-align: center;
  margin: 25px;
  position: relative;
  height: 200px;
  justify-content: right;
  float: left;
  border: 3px solid #000000;
font-family: Courier New, Arial, sans-serif;
}



.videoTemplate iframe{
  float:left;
  border:2px blue solid;
  align-content: space-evenly;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 10px;
  
  
}

.exp{
  justify-content: center;
  margin: auto;
  margin-bottom: 30px;
  text-align: center;
  width: 30%;
}  

.MyExp{
  justify-content: left;
  margin: auto;
  margin-bottom: 30px;
  text-align: center;
  width: 30%;
  padding: 250px 250px 0px 250px;


}


.Projects{
  margin-top: 8.5px;
  margin-left: 5px;
  display: inline;
  margin-right:50px;


}

.Java{
  margin-bottom: 250px;

}

.Python{
  position: relative;
  padding: 50px;
  border-radius: 5px;
  padding-left:0px;

}


.everything{
  justify-content: space-between, space-around;
  text-align:justify;
}

.tenor-gif-embed{
  float:right;
}

.bckground{
  background-color: #C7D4F7;
}

.shadow img{
  transition: .5s ease;

}

.shadow img:hover{
  box-shadow:
  1px 1px #373737, 2px 2px #373737,3px 3px #373737, 
 4px 4px #373737, 5px 5px #373737,6px 6px #373737;
 -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
  transition: .5s ease;
  margin-right: 5px;



}


//DROPDOWN CODE//
/* Dropdown Button */
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  top: 15px; left: 15px;
  transition: opacity 0.3s ease, visibility 0.2s ease;

  display: inline-block;
  float: left;
  
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;

  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: rgb(73, 44, 236);
  font-family: Verdana, sans-serif;

  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #12e0cc;}

